@import "base";

//header
#header {
    padding: 20px 0px;

    .navbar-menu {
        ul {
            @include Marpad();
            li {
                margin-left: 25px;
                padding: 10px 0px;
                a {
                    font-weight: 600;
                    color: inherit;
                    position: relative;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: $text-blue;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 991px) {
        .navbar-menu {
            ul {
                display: flex;
                li {
                    a {
                        &:hover {
                            color: $text-blue;
                            &::after {
                                position: absolute;
                                content: "";
                                bottom: -18px;
                                left: 0%;
                                right: 0%;
                                margin: auto;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: $text-blue;
                            }
                        }
                    }
                    a.active {
                        color: $text-blue !important;
                        position: relative;
                        &::after {
                            position: absolute;
                            content: "";
                            bottom: -18px;
                            left: 0%;
                            right: 0%;
                            margin: auto;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: $text-blue;
                        }
                    }
                }
            }
        }
        .mobile-nav {
            display: none;
        }
    }
    @media screen and (max-width: 991px) {
        .mobile-nav {
            .fa-bars {
                color: $text-blue;
                font-size: 1.4rem;
            }
            .navbar-menu {
                display: block !important;
                ul {
                    display: block;
                }
            }
        }
        .navbar-menu,
        .navbar-button {
            display: none !important;
        }
    }
}

//mainbanner
#mainbanner {
    position: relative;
    z-index: 1;
    &::after {
        background-image: url(/assets/images/banner-img.png);
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: contain;
        width: 100%;
        height: 100%;
        position: absolute;
        content: "";
        top: 0%;
        right: 0%;
        z-index: -1;
    }
    .mainbanner__content {
        // margin-top: 2rem;
        .mainbanner__content-top {
            z-index: 999;
            span {
                color: $text-blue;
                font-weight: 600;
            }
            h1 {
                color: $text-blue;
                font-weight: 700;
                margin: 1rem 0;
                span {
                    position: relative !important;
                    font-weight: 700;
                    z-index: 1;
                    // box-shadow: 19px 3px rgb(33 94 233 / 25%), 0em 5 47.4em rgb(33 94 233 / 25%);
                    &::after {
                        position: absolute;
                        content: "";
                        bottom: -40px;
                        left: 0%;
                        background: #bed2ff;
                        filter: blur(44px);
                        width: 220px;
                        height: 26px;
                        z-index: -1;
                    }
                }
                @media screen and (min-width: 767px) {
                    font-size: 3.5rem;
                }
            }
            p {
                font-size: 1rem;
                color: $text-blue;
            }
            .input-group {
                position: relative;
                display: flex;
                align-items: center;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 50px;
                input {
                    border: 1px solid rgba(211, 210, 210, 0.22);
                    border-radius: 50px;
                    padding: 1rem;
                    padding-left: 40px;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
                .icon {
                    position: absolute;
                    left: 3%;
                    z-index: 999;
                    font-size: 1rem;
                }
                .input-group-btn {
                    position: absolute;
                    right: 3%;
                    display: block;
                    z-index: 99999;
                }
            }
        }
        .mainbanner-counting {
            margin-top: 2.5rem;
            .mainbanner-counting__box {
                h1 {
                    color: $text-black;
                    font-weight: 700;
                }
                h1.active {
                    color: $text-blue;
                }
                p {
                    color: $text-black;
                }
            }
            @media screen and (min-width: 991px) {
                margin-top: 5rem;
            }
        }
    }
    .mainbanner__img {
        display: none;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    @media screen and (max-width: 991px) {
        .mainbanner__img {
            display: block;
        }
        &::after {
            display: none;
        }
    }
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}
